[submodule "linux_cli"]
	path = linux_cli
	url = https://github.com/id01/passman-linux-cli
[submodule "webextension"]
	path = webextension
	url = https://github.com/id01/passman-webextension
[submodule "windows_gui"]
	path = windows_gui
	url = https://github.com/id01/passman-windows-gui
