<html>
<head>
<script src="{{ staticURL }}bootstrap/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="{{ staticURL }}css/form.css">
</head>
<body>
<script src="{{ staticURL }}javascript/global.min.js"></script>
<script src="{{ staticURL }}javascript/getpass2.min.js"></script>
<div id="inputdiv">
<div id="notification" class="notification" align="center">Please Login.</div>
<form id="getform" method="post" action="javascript:void(0);">
<p><input type="text" class="forminput" name="userin" placeholder="Username"></p>
<p><input type="password" class="forminput" id="password_input" placeholder="Password"></p>
<p><input type="text" class="forminput" name="account" placeholder="Account Name"></p>
<input id="submitbutton" class="forminput" type="submit" value="Get Password >">
</form>
</div>
<div id="resultdiv">
Account Password: <input id="decrypted" type="password" disabled="true">
<button id="copybutton" type="button">Copy ></button>
</div>
<script src="{{ staticURL }}javascript/getpassHandlers.js"></script>
</body>
</html>
