<html>
<head>
<script src="{{ staticURL }}bootstrap/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="{{ staticURL }}css/index.css">
</head>
<body>
<script src="{{ staticURL }}javascript/index.min.js"></script>
<div id="navbar">
<span class="header" id="getheader"><a class="ha" href="javascript:changeFloatForm('getpass.html')">Get Password</a></span>
<span class="header" id="addheader"><a class="ha" href="javascript:changeFloatForm('addpass.html')">Add Password</a></span>
</div>
<iframe id="floatform" src="getpass.html">
</iframe>
<div id="setuplink"><a href="setup.html">Create an account</a></div></body>
</html>