<html>
<head>
<script src="{{ staticURL }}bootstrap/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="{{ staticURL }}css/index.css">
</head>
<body>
<div id="navbar">
<span class="header" id="getheader"><a id="getha" class="ha">Get Password</a></span>
<span class="header" id="addheader"><a id="addha" class="ha">Add Password</a></span>
</div>
<iframe id="floatform" src="getpass.html">
</iframe>
<div id="setuplink"><a href="setup.html">Create an account</a></div></body>
<script src="{{ staticURL }}javascript/index.min.js"></script>
</html>